@font-face {
    font-family: 'Mansalva';
    src: url(founts/Mansalva.ttf);
    font-display: fallback;
}

/* @font-face {
    font-family: 'Appetite';
    src: url(founts/Appetite.ttf);
    font-display: fallback;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url(founts/ArchivoBlack.ttf);
    font-display: fallback;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mansalva', cursive;
    font-size: 100%;
}

/* canvas */

canvas {
    position: absolute;
    opacity: 0.2;
}

.lol {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* SECTIONS*/
.sections-wrapper {
    display: flex;
    flex-direction: column;
}

#logo {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%);
    animation: logo-max 2s ease forwards 2.5s;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .8));
}

.first-line {
    stroke-dasharray: 215;
    stroke-dashoffset: 215;
    animation: stroke 0.6s forwards 0.5s;
}

.second-line {
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
    animation: stroke 0.1s ease forwards 1.5s, gaze 4s normal 6s, clip 15s step-end 12s infinite;
}

.third-line {
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
    animation: stroke 0.1s ease forwards 2s, gaze 4s normal 6s, clip 15s step-end 12s infinite;
}

.fp-tableCell {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.working,
.skills,
.not-working,
.portfolio {
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.anim {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.bounce {
    animation: bounce-in 1.3s forwards 0.3s 1 normal;
}

#working-hard,
#skills-hard,
#not-working-hard,
#portfolio-hard {
    margin-top: 2rem;
    font-size: 3em;
    color: rgb(90, 90, 90);
    text-shadow: 2px 2px 3px rgba(70, 70, 70, 0.8);
}

#portfolio-hard {
    margin-bottom: 2rem;
    transition: .6s;
    min-height: 0;
}

#portfolio-hard:hover {
    text-shadow: none;
    transform: scale(1.2);
}

.height-port-hard {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

@keyframes slidein { 
    to {
        min-height: 75px;
    }
}

img {
    width: 550px;
    height: 275px;
    margin-top: 1rem;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .8));
}

.portfolio-img-1,
.portfolio-img-2 {
    width: 450px;
    height: 140px;
    margin-top: 1rem;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .4));
}

.portfolio-img-1:hover,
.portfolio-img-2:hover {
    animation: blink-1 0.6s both;
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/* NAVIGATE */
nav {
    color: rgba(114, 108, 108, 0.863);
    position: fixed;
    opacity: 0;
    top: 40%;
    right: 1rem;
    animation: show-text 4s forwards 13.2s;
}

li {
    text-transform: uppercase;
    font-size: 1.1rem;
    list-style-type: none;
    padding: 1px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    transform: translate(-3px, -3px);
}

.nav-link {
    color: black;
}

.nav-link:target {
    color: rgba(114, 108, 108, 0.863);
    text-shadow: none;
}

#portfolio {
    color: rgb(255, 2, 2);
    text-shadow: 2px 2px 3px rgba(109, 0, 0, 0.473);
}

#portfolio:target {
    color: rgba(114, 108, 108, 0.863);
    text-shadow: none;
}

/* FOOTER */
.connect {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
}

.lin,
.gh,
.mail,
.tg {
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .8));
    animation: bounce-in 0.7s forwards 10s;
}

.social-cont {
    display: flex;
}

.social-cont:hover .hover-img {
    transform: translate(0, -4px);
}

.social-cont:hover .acount-link {
    color: black;
}

.acount-link {
    color: rgba(114, 108, 108, 0.863);
    animation: show-text 4s forwards 13.2s;
    opacity: 0;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    line-height: 1.2rem;
    transition: 0.2s;
}

.hover-img {
    transition: 0.2s;
}


/* ANIMATION */

@keyframes bounce-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    70% {
        opacity: 1;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes gaze {

    20%,
    40% {
        transform: translate(4px, 0px);
    }

    60%,
    80% {
        transform: translate(-4px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes clip {
    1% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    0% {
        opacity: 0;
        transform: translate(1px, 2px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-max {
    to {
        top: 12rem;
        width: 240px;
        height: 240px;
    }
}

@keyframes show-text {
    to {
        opacity: 1;
    }
}

/* MEDIA-ANIMATION*/
@keyframes logo-min {
    to {
        top: 15rem;
        width: 240px;
        height: 160px;
    }
}

@keyframes logo-tablet {
    to {
        top: 15rem;
        width: 260px;
        height: 180px;
    }
}

@keyframes logo-retina {
    to {
        top: 170px;
        width: 240px;
        height: 160px;
    }
}

@keyframes logo-land {
    to {
        top: 6rem;
        width: 240px;
        height: 160px;
    }
}



/* MEDIA */
@media screen and (max-width: 991.98px) {
    #logo {
        animation: logo-tablet 2s ease forwards 2.5s;
        width: 280px;
        height: 280px;
    }

    img {
        width: 320px;
        height: 160px;
        margin-top: 6rem;
    }

    .portfolio-img-1 {
        width: 320px;
        height: 98px;
        margin-top: 6rem;
    }

    .portfolio-img-2 {
        width: 320px;
        height: 97px;
        margin-top: 2rem;
    }

    #working-hard,
    #skills-hard,
    #not-working-hard {
        margin-top: 3rem;
        font-size: 1.8em;
    }

    #portfolio-hard {
        font-size: 1.8em;
    }

    nav {
        top: 35%;
    }

    li {
        font-size: 1em;
    }

    .lin,
    .gh,
    .mail,
    .tg {
        width: 40px;
        height: 40px;
    }

    .acount-link {
        line-height: 1em;
    }

    .connect {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .height-port-hard {
        animation-name: slidein-1;
    }
    
    @keyframes slidein-1 { 
        to {
            min-height: 45px;
        }
    }
}

@media screen and (max-width: 895px) and (orientation: landscape) {
    #logo {
        animation: logo-land 2s ease forwards 2.5s;
    }

    li {
        font-size: 0.8em;
    }

    .lin,
    .gh,
    .mail,
    .tg {
        width: 25px;
        height: 25px;
    }

    .connect {
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .acount-link {
        font-size: 0.7em;
        padding-left: 2px;
        padding-top: 2px;
    }

    #working-hard,
    #skills-hard,
    #not-working-hard,
    #portfolio-hard {
        font-size: 1.2em;
        margin-top: 0.2rem;
    }

    #portfolio-hard {
        margin-bottom: 0;
    }

    .height-port-hard {
        animation-name: slidein-3;
    }
    
    @keyframes slidein-3 { 
        to {
            min-height: 30px;
        }
    }

    img,
    .portfolio-img-1 {
        width: 240px;
        margin-top: 0.1rem;
    }

    .portfolio-img-2 {
        width: 240px;
    }
}

@media screen and (max-width:768px) {
    #logo {
        animation: logo-min 2s ease forwards 2.5s;
    }

    nav {
        top: 0.8rem;
    }

    .nav-link {
        white-space: pre;
    }

    li {
        margin-top: 0.5rem;
        padding: 0;
    }

    .lin,
    .gh,
    .mail,
    .tg {
        width: 35px;
        height: 35px;
    }

    .connect {
        padding: 0;
        margin: 0.5rem;
    }

    .acount-link {
        font-size: 0.8em;
        line-height: 1.1em;
    }

    img {
        width: 280px;
        height: 140px;
    }

    .portfolio-img-1, .portfolio-img-2 {
        width: 280px;
        height: auto;
    }

    #working-hard,
    #skills-hard,
    #not-working-hard {
        font-size: 1.6em;
    }

    #portfolio-hard {
        font-size: 1.4em;
    }

    .height-port-hard {
        animation-name: slidein-2;
    }
    
    @keyframes slidein-2 { 
        to {
            min-height: 35px;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 375px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 375px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 375px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 375px),
only screen and (min-resolution: 192dpi) and (max-width: 375px),
only screen and (min-resolution: 2dppx) and (max-width: 375px) {

    #logo {
        animation: logo-retina 2s ease forwards 2.5s;
    }

    nav {
        right: 8px;
    }

    li {
        font-size: 0.7em;
    }

    .lin,
    .gh,
    .mail,
    .tg {
        width: 25px;
        height: 25px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));
    }

    .connect {
        margin: 5px;
        padding: 4px;
    }

    .acount-link {
        font-size: 0.8em;
        padding-left: 2px;
        padding-top: 2px;
        font-size: 0.7em;
    }

    #working-hard,
    #skills-hard,
    #not-working-hard,
    #portfolio-hard {
        font-size: 1.4em;
        margin-top: 2rem;
    }

    #portfolio-hard {
        margin-bottom: 1rem;
    }

    img,
    .portfolio-img-1 {
        width: 240px;
        height: auto;
        margin-top: 4rem;
    }

    .portfolio-img-2 {
        width: 240px;
        height: auto;
    }
}